@model ListaPaginada<Medico>

<h2 class="text-center">Resultados de la Búsqueda</h2>

<!-- Mostrar los médicos encontrados -->
@if (Model.Count() > 0)
{
    <div class="row">
        <hr />
        @foreach (var medico in Model)
        {
            <div class="col-4">
                <div class="card">
                    <img src="@medico.UrlImagen" class="img-thumbnail">
                    <div class="card-body">
                        <h5 class="text-center">@medico.Nombre</h5>
                        <p>Especialidad: @medico.Especialidad</p>
                        <a asp-action="Detalle" class="btn btn-success" style="border-radius:2px" asp-route-id="@medico.Id">
                            Ver perfil
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No se encontraron médicos.</p>
}

<br />
<br />

<!-- Crear botones de paginación -->
<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@(Model.PageIndex - 1)" asp-route-searchString="@Model.SearchString">Anterior</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@i" asp-route-searchString="@Model.SearchString">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@(Model.PageIndex + 1)" asp-route-searchString="@Model.SearchString">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>
